html { scroll-behavior: smooth; }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    width: 70%;
    margin: 0 auto;
}
/* first-ssection */
.nav-menu{
  margin: 40px 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.nav-menu h1 a{
  color: black;
}
ul{
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
}
a{
  text-decoration: none;
}
.creative-img{
  position: relative;
  height:400px;
  background-image:url('../images/main-bg.jpeg') ;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

}
.creative-img::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  background-color:rgba(0, 0, 0, 0.7) ;
 
}

.creative-info{
  position: relative;
  text-align: center;
  color: #fff;
}
.creative-info button{
  background-color: rgba(0, 255, 149, 0.89);
  padding: 8px 10px;
  border: 1px solid gray;
  border-radius: 20px;

}
/* second-section */
.second-section{
  height: 400px;
}

.head{ 
  text-align: center;
  padding: 70px 0;
}
.services-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
   gap: 40px;
}
.fa-regular{
  font-size: 30px;
}
.fa-brands{

  font-size: 30px;
}
.fa-solid{
  font-size: 30px;
}

/* third-section */
.third-section{
 height: 400px;
 display: flex;
 align-items: center;
 margin-bottom: 50px;
}
.img-1{
  width: 40%;
  height: 400px;
  background-image: url('../images/setting.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  height: 400px;
}
.just-Relax{
  width: 60%;
  background-color: red;
  position: relative;
  height:400px;
  background-image:url('../images/main-bg.jpeg') ;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.just-Relax::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  background-color:rgba(0, 0, 0, 0.7) ;
 
}
.just h2 {
  position: relative;
  color: white;
}
.just span{
  color:rgba(0, 255, 149, 0.89) ;

}
.just p{
  position: relative;
  color: rgb(167, 164, 164);
}

.just button{
  position: relative;
  padding: 8px 10px;
  background-color:rgba(0, 255, 149, 0.89) ;
  border: 1px solid gray;
  border-radius: 20px;
}
button:active{
  transform: scale(0.96);
}
/* forth-section */
.Latest-project{
  height: 600px;
}
.head{
  text-align: center;
  padding-bottom: 70px 0;
}
.DEVELOPING{
 padding-left: 100px;
  width: 50%;
}
.E-Commerce{
  display: flex;
  align-items: center;

}
.SEO{
  display: flex;
  align-items: center;
}
.Secure{
   display: flex;
  align-items: center;
}
.logo-part p{
  padding-left: 20px;
  align-items: center;
  justify-content: center;
}
.manu-wapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.Latest-project button{
  position: relative;
  padding: 8px 10px;
  background-color:rgba(0, 255, 149, 0.89) ;
 border: 2px solid rgb(207, 206, 206);
  border-radius: 20px;
}
.treehouse-img{
  width: 50%;
  height: 384px;
  background-image:url('../images/tree-house.jpg') ;
  background-size: cover;
  background-repeat: no-repeat;
}
/* fifth-section */
.culture{
  height: 400px;
  background-color: rgb(243, 243, 243);
}
.head{
  text-align: center;
  padding: 70px 0;
}
hr{
  width: 200px;
  margin-left: 80%;

}
.culture-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
   gap: 40px;
}
/* six-section */
.Clients-section{
  height: 800px;
}

.Clients-details{
  width: 50%;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 50px;
}
 .Clients-1{
  height: 132.967px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;

}
.Clients-img-1{
  width: 30%;
  height: 160.033px;
  border-radius: 100%;
  background-image: url('../images/Clients-1.jpg');
  background-size: cover;
  border: 1px solid rgb(194, 192, 192);

}
.Clients-info-1{
  width: 70%;
  height: 110px;
  background-color: rgb(243, 243, 243);
 margin-left: 20px;
 text-align: center;
 padding: 17px 8px;
}
.Clients-info-1 a{
  color: green;
}
.Clients-2{
  height: 132.967px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
} 
.Clients-info-2{
  width: 70%;
  height: 110px;
  background-color:  rgb(243, 243, 243);
  margin-right: 20px;
  text-align: center;
  padding: 17px 8px;

}
.Clients-info-2 a{
  color: green;
}
.Clients-img-2{
  width: 30%;
  height: 160.033px;
  border-radius: 100%;
  background-image: url(../images/clients-2.jpg);
  background-size: cover;
  border: 1px solid rgb(194, 192, 192);
}
.green-div{
height: 160px;
background-color: rgb(89, 180, 89);
}
.Ready-head{
  text-align: center;
  padding: 40px 0;
  color: white;
}
.green-div button{
  position: relative;
  padding: 8px 10px;
  background-color: rgb(89, 180, 89) ;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}
button:active{
  transform: scale(0.96);
}
.logo{

}
/* seven-section */
.contact-method{
  height: 400px;
  background-color:black;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
}
.CONTACT-US{
  width: 250px;
  height: 208px;
}
.CONTACT-US p{
  color:rgb(207, 206, 206);
}
.location{
  display: flex;
  align-items: center;
  gap: 8px;
}
.location i{
  font-size: 25px;
}
.phone{
  display: flex;
  align-items: center;
  gap: 8px;
}
.phone i{
  font-size: 20px;
}
.email{
  display: flex;
  align-items: center;
  gap: 8px;
}
.email i{
  font-size: 20px;
}
.LATEST-POSTS{
  width: 250px;
}
.LATEST-POSTS p{
  color:rgb(207, 206, 206);
}
.LATEST-info{
  display: flex;
  align-items: center;
  gap: 8px;
}
.LATEST-info i{
  font-size: 20px;
}
.LATEST-TWEETS{
width: 250px;
height: 208px;
}
.LATEST-TWEETS p{
  color:rgb(207, 206, 206);
}
.twiter{
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer-icons{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
}